@import 'tailwindcss';

@theme {
  /* Font Family */
  --font-family-sans: 'Inter', sans-serif;

  /* Brand Colors */
  --color-brand-dark: #124b2b;
  --color-brand-base: #1f6f43;

  /* Grayscale */
  --color-gray-800: #111827;
  --color-gray-700: #374151;
  --color-gray-600: #485563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f8f9fa;

  /* Neutral */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Feedback */
  --color-danger: #ef4444;
  --color-success: #19ad70;

  /* Blue */
  --color-blue-dark: #1d4ed8;
  --color-blue-base: #2563eb;
  --color-blue-light: #dbeafe;

  /* Purple */
  --color-purple-dark: #7e22ce;
  --color-purple-base: #9333ea;
  --color-purple-light: #f3e8ff;

  /* Pink */
  --color-pink-dark: #be185d;
  --color-pink-base: #db2777;
  --color-pink-light: #fce7f3;

  /* Red */
  --color-red-dark: #b91c1c;
  --color-red-base: #dc2626;
  --color-red-light: #fee2e2;

  /* Orange */
  --color-orange-dark: #c2410c;
  --color-orange-base: #ea580c;
  --color-orange-light: #ffedd5;

  /* Yellow */
  --color-yellow-dark: #a16207;
  --color-yellow-base: #ca8a04;
  --color-yellow-light: #f7f3ca;

  /* Green */
  --color-green-dark: #15803d;
  --color-green-base: #16a34a;
  --color-green-light: #e0fae9;
}

body {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
